{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="bg-b">
	<div class="container">
		<div class="row">
				<div class="col-lg-5 mx-auto">
					<br><br><br>
					<div class="card">
						<div class="card-body">
							{% block content %}{% endblock %}
							<br>
							<h2 class="text-center text-uppercase">{% block header %}{% endblock %}</h2>
							<br>
							{% block form %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>